<section id="about" class="about">
    <div class="container h-100">
        <div class="row">
            <a name="about"></a>
            <h3>про турнір</h3>
        </div>
        <div class="row row-100">
            <div class="col d-flex align-items-center col-text col-sm-12 col-md-12 col-lg-6">
                <p class="f35">Поки весь <span class="bold-text">світ на паузі</span>, а всі ідеї, що ж робити онлайн, закінчилися, ми не думаємо — <span class="bold-text">ми діємо!</span></p>
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 text-right">
                <div class="rect-wrap">
                    <div class="rect-text-wrapper">
                        <p class="f30"><span class="bold-text">WAVE</span> — проект СтудРад ІПСА, ФІОТ, КПІ для популяризації кіберспорту серед студентів. </p>
                    </div>
                    <div class="rect-text-wrapper">
                        <p class="f30">В цьому році проходить онлайн-турнір серед студентів КПІ по CS: GO і Dota 2 з призовим фондом.</p>
                    </div>
                    <div class="rect-text-wrapper mb-0">
                        <p class="f30">Формат  турніру: в кожній з дисциплін беруть участь команди по 5 чоловік.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty">1</div>

    </div>
</section>