<section id="dates">
    <div id="skew"></div>
    <span class="empty_test"><a name="daates"></a></span>
    <div class="container h-100">
        
        <div class="row justify-content-between">
            <div class="col col-12 col-xl-5 col-lg-5">
                
                <h2 class="ws-no">Важливі дати</h2>
            </div>
            <div class="col col-12 col-xl-2 col-lg-2">
                <select name="game" id="select">
                    <option  value="csgo">CS:GO</option>
                    <option  value="dota2">Dota 2</option>
                </select>
            </div>
        </div>
        <div id="cs">
            <div id="for-select" class="dsk-only">
            <div class="row justify-content-between dates">
                <div class="col col-3">
                    <p class="number">24-30</p>
                    <p class="month gr">Червень, 2021</p>
                </div>
                <div class="col col-3">
                    <p class="number">03-08</p>
                    <p class="month gr">Липень, 2020</p>
                </div>
                <div class="col col-3">
                    <p class="number">09-18</p>
                    <p class="month gr">Липень, 2020</p>
                </div>
            </div>
            <div class="row prog-bar">
                <div class="col col-10">
                    <img src="../img/dates_progress.png" alt="progress bar">
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col col-3 date">
                    <p class="date-heading gr">Реєстрація</p>
                    <p class="date-desc gr"></p>
                </div>
                <div class="col col-3 date">
                    <p class="date-heading gr ws-no">Груповий етап</p>
                    <p class="date-desc gr ws-no">Команди змагатимуться у двох<br>дисциплінах в груповій стадії<br>кібертурніру WAVE у форматі<br>best of 1. Після чого з кожної <br>групи вийдуть від 2 до 4 команд.</p>
                </div>
                <div class="col col-3 date">
                    <p class="date-heading gr">Play-off</p>
                    <p class="date-desc gr ws-no">Від 16 до 32 найкращих команд<br>у двох дисциплінах<br>позмагаються в стадії<br>плей-оф кібертурніру WAVE у<br>серії best of 3. </p>

                </div>
            </div>
        </div>
        <div class="mob-only">
            <div class="container">  
                <div class="row ">
                    <div class="col col-6 dates-left">
                        <p class="date-heading gr">Реєстрація</p>
                        <p class="date-desc gr ws-no"></p>
                        <p class="date-heading gr">Груповий <br> етап</p>
                        <p class="date-desc gr ws-no">Команди змагатимуться у двох<br>дисциплінах в груповій стадії<br>кібертурніру WAVE у форматі<br>best of 1. Після чого з кожної <br>групи вийдуть від 2 до 4 команд.</p>
                        <p class="date-heading gr">Play-off</p>
                        <p class="date-desc gr ws-no">Від 16 до 32 найкращих <br> команд у двох дисциплінах <br> позмагаються в стадії<br>плей-оф кібертурніру WAVE<br> у серії best of 3.</p>
                    </div>
                    <div class="col col-1 prog-bar pl-0 fix">
                        <img src="../img/dates_progress-vertical.png" alt="progress bar">
                    </div>
                    <div class="col col-5 dates-right">
                        <p class="number ws-no">24-30<br>Червень, 2020</p>
                        <p class="number ws-no">03-08<br>Липень, 2020</p>
                        <p class="number ws-no">09-18<br>Липень, 2020</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="dota">
            <div id="for-select" class="dsk-only">
            <div class="row justify-content-between dates">
                <div class="col col-3">
                    <p class="number">21-28</p>
                    <p class="month gr">Липень, 2020</p>
                </div>
                <div class="col col-4">
                    <p class="number nm-1">31-5</p>
                    <p class="month gr gr-1">Липень-Серпень, 2020</p>
                </div>
                <div class="col col-3">
                    <p class="number nm-l ">7-15</p>
                    <p class="month gr gr2">Серпень, 2020</p>
                </div>
            </div>
            <div class="row prog-bar">
                <div class="col col-10">
                    <img src="../img/dates_progress.png" alt="progress bar">
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col col-3 date">
                    <p class="date-heading gr">Реєстрація</p>
                    <p class="date-desc gr"></p>
                </div>
                <div class="col col-3 date">
                    <p class="date-heading gr ws-no">Груповий етап </p>
                    <p class="date-desc gr ws-no">Команди змагатимуться у двох<br>дисциплінах в груповій стадії<br>кібертурніру WAVE у форматі<br>best of 1. Після чого з кожної <br>групи вийдуть від 2 до 4 команд.</p>
                </div>
                <div class="col col-3 date">
                    <p class="date-heading gr">Play-off</p>
                    <p class="date-desc gr ws-no">Від 16 до 32 найкращих команд<br>у двох дисциплінах<br>позмагаються в стадії<br>плей-оф кібертурніру WAVE у<br>серії best of 3. </p>
                </div>
            </div>
        </div>
        <div class="mob-only">
            <div class="container">  
                <div class="row ">
                    <div class="col col-6 dates-left">
                        <p class="date-heading gr">Реєстрація</p>
                        <p class="date-desc gr ws-no"></p>
                        <p class="date-heading gr">Груповий <br> етап</p>
                        <p class="date-desc gr ws-no">Команди змагатимуться у двох<br>дисциплінах в груповій стадії<br>кібертурніру WAVE у форматі<br>best of 1. Після чого з кожної <br>групи вийдуть від 2 до 4 команд.</p>
                        <p class="date-heading gr">Play-off</p>
                        <p class="date-desc gr ws-no">Від 16 до 32 найкращих <br> команд у двох дисциплінах <br> позмагаються в стадії<br>плей-оф кібертурніру WAVE<br> у серії best of 3.</p>
                    </div>
                    <div class="col col-1 prog-bar pl-0 fix">
                        <img src="../img/dates_progress-vertical.png" alt="progress bar">
                    </div>
                    <div class="col col-5 dates-right">
                        <p class="number ws-no">21-28<br>Липень, 2020</p>
                        <p class="number ws-no l-2 ">31-5<br>Липень-<br class="dis">Серпень, <br> 2020</p>
                        <p class="number ws-no l-1">7-15<br>Серпень, 2020</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
