<footer id="footer" class="no">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4 col-4">
                <p>wave 2020</p>
            </div>
            <div class="col-sm-3 col-3">
                <div class="logo">
                    <img class="img-fluid " src="../img/logo.png" alt="Wave logo">                 
                </div>
            </div>
            <div class="col-sm-5 col-5">
                <div class="icons-wrap">
					<a href="https://t.me/joinchat/0VUpO7SMSp4zOTc6" class="icon-link"><img class="img-fluid" src="../img/tg.svg" alt="telegram"></a>
					<a href="https://www.instagram.com/kpi_wave" class="icon-link"><img class="img-fluid" src="../img/insta.svg" alt="instagram"></a>
					<a href="https://discord.gg/xdYh4k3dee" class="icon-link"><img class="img-fluid" src="../img/discord.svg" alt="discord"></a>
					<a href="https://www.twitch.tv/kpi_wave" class="icon-link"><img class="img-fluid" src="../img/twitch.svg" alt="twitch"></a>
				</div>
            </div>     
        </div>
    </div>
</footer>
