<section class="navbar autohide  justify-content-center">
	<div class="container-xxl desktop">

		<div class="row align-items-center nav-rapper">
			<div class="col-auto"><a href="#neutral_header"><img src="../img/logo.png" alt="menu-logo" class="menu-logo"></a></div>
			<div class="col-auto"><a href="#about">ПРО ТУРНІР</a></div>
			<div class="col-auto"><a href="#daates">ВАЖЛИВІ ДАТИ</a></div>
			<div class="col-auto test">ТРАНСЛЯЦІЯ</div>
			<div class="col-auto">РОЗКЛАД МАТЧІВ</div>
			<div class="col-auto">ГРУПОВА СТАДІЯ</div>
			<div class="col-auto">PLAY-OFF</div>

		</div>
		</div>

</section>


	<div id="sideNavigation" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="../img/cross_l.png" alt=""></a>
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="../img/cross_r.png" alt=""></a>
	  <a class="watched" onclick="closeNav()" href="#about">ПРО ТУРНІР</a>
	  <a class="watched" onclick="closeNav()" href="#daates">ВАЖЛИВІ ДАТИ</a>
	  <a class="watched" onclick="closeNav()" href="#">ТРАНСЛЯЦІЯ</a>
	  <a class="watched" onclick="closeNav()" href="#">РОЗКЛАД МАТЧІВ</a>
	  <a class="watched" onclick="closeNav()" href="#">ГРУПОВА СТАДІЯ</a>
	  <a class="watched" onclick="closeNav()" href="#">PLAY-OFF</a>
	</div>
	 
	<nav class="topnav">
	  <a href="#" onclick="openNav()">
	    <img src="../img/burger.svg" alt="">
	    <img src="../img/burger.svg" alt="">
	    <img src="../img/burger.svg" alt="">
	  </a>
	</nav>








<!-- <section class="navbar justify-content-start">
	<div class="container-xxl tablet">
		<div class="navbar-mob row align-items-left">
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<div class="col-12">
				<div class="burger-block"><img src="../img/burger.svg" alt=""></div>
				<div class="burger-block"><img src="../img/burger.svg" alt=""></div>
				<div class="burger-block"><img src="../img/burger.svg" alt=""></div>
			</div>
			</a>

		
			
		</div>

	</div>

</section>
	<div id="myLinks">
    		<a href="#news">News</a>
    		<a href="#contact">Contact</a>
    		<a href="#about">About</a>
</div>	 -->