<section id="subscribe">
    <div id="skew"></div>
    <div class="content">
       <div class="container">
           <div class="row">
            <div class="col col-12">
                <h2 class="ws-no">Підписуйся<br>на наш Telegram-канал</h2>
            </div>
            </div>
            <div class="row">
                <div class="col col-12 col-lg-5 left">
                    <button class="btn btn-base">  <a href="https://t.me/joinchat/0VUpO7SMSp4zOTc6">Підписатися</a> </button>
                    <p class="text gr ws-no">WAVE — боротьба за перемогу.<br>Чемпіонська гонка в трансляціях<br>і статистиці — будь в курсі всіх<br>подій!</p>
                    <div class="icons-wrap">    
                        <a href="https://t.me/joinchat/0VUpO7SMSp4zOTc6" class="icon-link"><img src="../img/tg.svg" alt="telegram"></a>
                    <a href="https://www.instagram.com/kpi_wave" class="icon-link"><img src="../img/insta.svg" alt="instagram"></a>
                    <a href="https://discord.gg/xdYh4k3dee" class="icon-link"><img src="../img/discord.svg" alt="discord"></a>
                    <a href="https://www.twitch.tv/kpi_wave" class="icon-link"><img src="../img/twitch.svg" alt="twitch"></a>
                    </div>
                </div>
                <div class="col col-12 col-lg-7 right">
                    <img src="../img/ogre-magi.png" alt="ogre magi">
                </div>
            </div>
        </div>
    </div>
</section>