<div class="add-height"></div>
<section id="wave-is">
    <div id="skew" class="skews"></div>

   <div class="container">
            <div class="row justify-content-center head ">
                <h5><span class="gradient-text">WAVE</span> - це про <span class="pink">емоції</span> та <span class="blue">атмосферу</span></h5>
            </div>
        </div>
    <div class="row-wave lefty">
        <div class="row ">
            <div class="col col-12 col-lg-12 left">
                <p class="f26"><span class="fbold"> Наше завдання</span>  — знайти сильні команди, які не тільки зможуть поборотися за головний приз, але й влаштувати шоу для глядачів.
                 </p>
            </div>
        </div>
    </div>
    <div class="row-left">
        <div class="row ">

        </div>
    </div>
    <div class="row-wave right">
        <div class="row mr-0">
            <div id="wave-right" class="col col-12 col-lg-12 left right">
                <p class="f26 f26left"><span class="fbold">Слідкувати за розкладом матчів</span>, результатами та новинами ти зможеш на нашому сайті <a href="http://localhost:3000/">wave.com</a>, в Telegram-каналі <a href="https://t.me/joinchat/0VUpO7SMSp4zOTc6">@WAVE</a> і в <a href="https://www.instagram.com/kpi_wave">Instagram</a>. Трансляції будуть на <a href="https://www.twitch.tv/kpi_wave">Twitch.</a></p>
            </div>
        </div>
    </div>
    <div class="row-right">
        <div class="row ">
            <div class="col-12 left">

            </div>
        </div>
    </div>

</section>