<div class="add-height"></div>
<section id="wave-is">
    <div id="skew" class="skews"></div>

   <div class="container">
            <div class="row justify-content-center head ">
                <h5><span class="gradient-text">WAVE</span> - это про <span class="pink">эмоции</span> и <span class="blue">атмосферу</span></h5>
            </div>
        </div>
    <div class="row-wave lefty">
        <div class="row ">
            <div class="col col-12 col-lg-12 left">
                <p class="f26"><span class="fbold">Наша задача</span> — найти сильные команды, которые не только смогут побороться за главный приз, но и устроить шоу для зрителей.
                 </p>
            </div>
        </div>
    </div>
    <div class="row-left">
        <div class="row ">

        </div>
    </div>
    <div class="row-wave right">
        <div class="row mr-0">
            <div id="wave-right" class="col col-12 col-lg-12 left right">
                <p class="f26 f26left"><span class="fbold">Следить за расписанием матчей</span>, результатами и новостями ты сможешь на нашем сайте <a href="http://localhost:3000/">wave.com</a>, в Telegram-канале <a href="https://t.me/joinchat/0VUpO7SMSp4zOTc6">@WAVE</a> и в <a href="https://www.instagram.com/kpi_wave">Instagram</a>. Трансляции будут на <a href="https://www.twitch.tv/kpi_wave">Twitch.</a></p>
            </div>
        </div>
    </div>
    <div class="row-right">
        <div class="row ">
            <div class="col-12 left">

            </div>
        </div>
    </div>

</section>